<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="accountsMapper">

	<resultMap type="Accounts" id="accountsResultSet">
		<id column="RPNO" property="rpNo"/>
		<result column="RONO" property="roNo"/>
		<result column="RPAMOUNT" property="amountRoom"/>
		<result column="RP_DATE" property="payDateRoom"/>
		<result column="EPNO" property="epNo"/>
		<result column="EXNO" property="exNo"/>
		<result column="EPAMOUNT" property="amountExp"/>
		<result column="EP_DATE" property="payDateExp"/>
		<result column="USER_NAME" property="userName"/>
		<result column="AUSNO" property="userNo"/>
		
		<result column="month" property="month"/>
		<result column="income" property="income"/>
		<result column="amount" property="amount"/>
		<result column="pay_date" property="payDate"/>
	</resultMap>
	
	<resultMap type="Chart" id="accountsChartResultSet">
		<id column="EXPAmount" property="chartamountExp"/>
		<result column="EXPpayDate" property="expPayDate"/>
	</resultMap>
	
	<resultMap type="Chart" id="mainChartResultSet">
		<id column="mainChartBlockOff" property="mainChartBlockOff"/>
	</resultMap>
	<resultMap type="Chart" id="mainOnChartResultSet">
		<id column="mainChartBlockOn" property="mainChartBlockOn"/>
	</resultMap>

	<select id="aSelectAccountListCount" resultType="_int">
		SELECT COUNT(*)
		FROM MEMBER M
		LEFT JOIN ROOMSPAY RP ON(RP.USNO = M.USNO)
		LEFT JOIN EXPPAY EP ON(EP.USNO = M.USNO)
		WHERE RP.RPNO != 0 OR EP.EPNO != 0
	</select>
	
	<select id="aSelectAccountList" resultMap="accountsResultSet">
		SELECT M.USNO AS "AUSNO", RP.RPNO, EP.EPNO, M.USER_NAME, 
				RP.PAY_DATE AS "RP_DATE", EP.PAY_DATE AS "EP_DATE", RP.AMOUNT AS "RPAMOUNT", EP.AMOUNT AS "EPAMOUNT"
		FROM MEMBER M
		LEFT JOIN ROOMSPAY RP ON(RP.USNO = M.USNO)
		LEFT JOIN EXPPAY EP ON(EP.USNO = M.USNO)
		WHERE RP.RPNO != 0 OR EP.EPNO != 0
		ORDER BY EP_DATE DESC, RP_DATE DESC
	</select>

	<select id="chartList" resultMap="accountsChartResultSet">
		SELECT SUM(AMOUNT) AS "EXPAmount", TO_CHAR(PAY_DATE, 'YY/MM') AS "EXPpayDate"
		FROM ROOMSPAY
		GROUP BY TO_CHAR(PAY_DATE, 'YY/MM')
	
	</select>

	<select id="chartList2" resultMap="accountsChartResultSet">
		SELECT SUM(AMOUNT) AS "EXPAmount", TO_CHAR(PAY_DATE, 'YY/MM') AS "EXPpayDate"
		FROM EXPPAY
		GROUP BY TO_CHAR(PAY_DATE, 'YY/MM')
	
	</select>
	
	<select id="roNum" resultType="_int">
		SELECT count(*)
		from rooms
		where status=1
	</select>
	
	<select id="exNum" resultType="_int">
		SELECT count(*)
		from experience
		where status=1
	</select>


	<select id="mainChartList" resultMap="mainChartResultSet">
		SELECT COUNT(M.USNO) as "mainChartBlockOff"
		FROM MEMBER M
		WHERE M.STATUS = 'Y'
		UNION ALL
		SELECT COUNT(PANO)
		FROM PARTNER
		WHERE PARTNER_STATUS = 'Y'
	</select>

	<select id="mainChartList2" resultMap="mainOnChartResultSet">
		SELECT COUNT(M.USNO)as "mainChartBlockOn"
		FROM MEMBER M
		WHERE M.STATUS = 'N'
		UNION ALL
		SELECT COUNT(PANO)
		FROM PARTNER
		WHERE PARTNER_STATUS = 'N'
	</select>




























	<select id="selectIncomeListCount" resultType="_int">
		SELECT EP+RP 
		  FROM (SELECT COUNT(*) AS EP FROM EXPPAY EP
		        LEFT JOIN MEMBER M ON (EP.USNO=M.USNO)
		        LEFT JOIN EXPERIENCE E ON (EP.EXNO=E.EXNO)
		        WHERE E.USNO = #{usNo}) EP,
		        (SELECT COUNT(*) AS RP FROM ROOMSPAY RP 
		        LEFT JOIN MEMBER M ON(RP.USNO = M.USNO)     
		        LEFT JOIN ROOMS R ON(RP.RONO= R.RONO)
		        WHERE R.USNO = #{usNo}) RP
	</select>
	
	<select id="selectIncomeList" resultMap="accountsResultSet" parameterType="_int">
		SELECT RP.RPNO AS NO, M.USER_NAME, RP.PAY_DATE, RP.AMOUNT, '숙소' AS SECTION 
		  FROM ROOMSPAY RP 
		  LEFT JOIN MEMBER M ON(RP.USNO = M.USNO)     
		  LEFT JOIN ROOMS R ON(RP.RONO= R.RONO)
		 WHERE R.USNO = #{usNo}
		 UNION
		SELECT EP.EPNO AS NO, M.USER_NAME, EP.PAY_DATE, EP.AMOUNT, '체험' AS SECTION
		  FROM EXPPAY EP
		  LEFT JOIN MEMBER M ON (EP.USNO=M.USNO)
		  LEFT JOIN EXPERIENCE E ON (EP.EXNO=E.EXNO)
		 WHERE E.USNO = #{usNo}
	</select>

	<select id="selectRoomIncomeChart" resultMap="accountsResultSet" parameterType="_int">
		SELECT TO_CHAR(RP.PAY_DATE, 'MM') as month, SUM(RP.AMOUNT) as income
		  FROM ROOMSPAY RP     
		  LEFT JOIN ROOMS R ON(RP.RONO= R.RONO)
		 WHERE R.USNO = #{usNo}
    	   AND TO_CHAR(RP.PAY_DATE, 'MM') BETWEEN (TO_CHAR(ADD_MONTHS(SYSDATE, -5),'MM')) AND (TO_CHAR(SYSDATE, 'MM'))
		 GROUP BY TO_CHAR(RP.PAY_DATE, 'MM')
		 ORDER BY TO_CHAR(RP.PAY_DATE, 'MM')
	</select>
	

	<select id="selectExpIncomeChart" resultMap="accountsResultSet" parameterType="_int">
		SELECT TO_CHAR(EP.PAY_DATE, 'MM') as month, SUM(EP.AMOUNT) as income
		  FROM EXPPAY EP     
		  LEFT JOIN EXPERIENCE E ON(EP.EXNO= E.EXNO)
		 WHERE E.USNO = #{usNo} 
    	   AND TO_CHAR(EP.PAY_DATE, 'MM') BETWEEN (TO_CHAR(ADD_MONTHS(SYSDATE, -5),'MM')) AND (TO_CHAR(SYSDATE, 'MM'))
		 GROUP BY TO_CHAR(EP.PAY_DATE, 'MM')
		 ORDER BY TO_CHAR(EP.PAY_DATE, 'MM')
	</select>

	<select id="partnerDashboardIncome1" parameterType="_int" resultType="_int">
		SELECT NVL(SUM(EP.AMOUNT),0) as income
		  FROM EXPPAY EP     
		  LEFT JOIN EXPERIENCE E ON(EP.EXNO= E.EXNO)
  		 WHERE E.USNO = #{usNo} and TO_CHAR(EP.PAY_DATE, 'MM')=TO_CHAR(sysdate, 'MM')
	</select>

	<select id="partnerDashboardIncome2" parameterType="_int" resultType="_int">
		SELECT NVL(SUM(RP.AMOUNT),0) as income
		  FROM ROOMSPAY RP     
		  LEFT JOIN ROOMS R ON(RP.RONO= R.RONO)
		 WHERE R.USNO = #{usNo} and TO_CHAR(RP.PAY_DATE, 'MM')=TO_CHAR(sysdate, 'MM')
	</select>




</mapper>
