<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="accountsMapper">

	<resultMap type="Accounts" id="accountsResultSet">
		<id column="RPNO" property="rpNo"/>
		<result column="RONO" property="roNo"/>
		<result column="RPAMOUNT" property="amountRoom"/>
		<result column="RP_DATE" property="payDateRoom"/>
		<result column="EPNO" property="epNo"/>
		<result column="EXNO" property="exNo"/>
		<result column="EPAMOUNT" property="amountExp"/>
		<result column="EP_DATE" property="payDateExp"/>
		<result column="USER_NAME" property="userName"/>
		<result column="AUSNO" property="userNo"/>
		
		<result column="amount" property="amount"/>
		<result column="pay_date" property="payDate"/>
	</resultMap>
	
	<resultMap type="Chart" id="accountsChartResultSet">
		<id column="EXPAmount" property="chartamountExp"/>
		<result column="EXPpayDate" property="expPayDate"/>
	</resultMap>
	
	<resultMap type="Chart" id="mainChartResultSet">
		<id column="mainChartBlockOff" property="mainChartBlockOff"/>
	</resultMap>
	<resultMap type="Chart" id="mainOnChartResultSet">
		<id column="mainChartBlockOn" property="mainChartBlockOn"/>
	</resultMap>

	<select id="aSelectAccountListCount" resultType="_int">
		SELECT COUNT(*)
		FROM MEMBER M
		LEFT JOIN ROOMSPAY RP ON(RP.USNO = M.USNO)
		LEFT JOIN EXPPAY EP ON(EP.USNO = M.USNO)
		WHERE RP.RPNO != 0 OR EP.EPNO != 0
	</select>
	
	<select id="aSelectAccountList" resultMap="accountsResultSet">
		SELECT M.USNO AS "AUSNO", RP.RPNO, EP.EPNO, M.USER_NAME, 
				RP.PAY_DATE AS "RP_DATE", EP.PAY_DATE AS "EP_DATE", RP.AMOUNT AS "RPAMOUNT", EP.AMOUNT AS "EPAMOUNT"
		FROM MEMBER M
		LEFT JOIN ROOMSPAY RP ON(RP.USNO = M.USNO)
		LEFT JOIN EXPPAY EP ON(EP.USNO = M.USNO)
		WHERE RP.RPNO != 0 OR EP.EPNO != 0
		ORDER BY EP_DATE DESC, RP_DATE DESC
	</select>

	<select id="chartList" resultMap="accountsChartResultSet">
		SELECT SUM(AMOUNT) AS "EXPAmount", TO_CHAR(PAY_DATE, 'YY/MM') AS "EXPpayDate"
		FROM ROOMSPAY
		GROUP BY TO_CHAR(PAY_DATE, 'YY/MM')
	
	</select>

	<select id="chartList2" resultMap="accountsChartResultSet">
		SELECT SUM(AMOUNT) AS "EXPAmount", TO_CHAR(PAY_DATE, 'YY/MM') AS "EXPpayDate"
		FROM EXPPAY
		GROUP BY TO_CHAR(PAY_DATE, 'YY/MM')
	
	</select>
	
	<select id="roNum" resultType="_int">
		SELECT count(*)
		from rooms
		where status=1
	</select>
	
	<select id="exNum" resultType="_int">
		SELECT count(*)
		from experience
		where status=1
	</select>


	<select id="mainChartList" resultMap="mainChartResultSet">
		SELECT COUNT(M.USNO) as "mainChartBlockOff"
		FROM MEMBER M
		WHERE M.STATUS = 'Y'
		UNION ALL
		SELECT COUNT(PANO)
		FROM PARTNER
		WHERE PARTNER_STATUS = 'Y'
	</select>

	<select id="mainChartList2" resultMap="mainOnChartResultSet">
		SELECT COUNT(M.USNO)as "mainChartBlockOn"
		FROM MEMBER M
		WHERE M.STATUS = 'N'
		UNION ALL
		SELECT COUNT(PANO)
		FROM PARTNER
		WHERE PARTNER_STATUS = 'N'
	</select>





























	<select id="selectIncomeListCount" resultType="_int">
		select ep+rp
		  from (select count(*) as ep
    	        from exppay join member using (usno) where usno=#{usNo}) ep, 
  			   (select count(*) as rp
   			    from roomspay join member using (usno) where usno=#{usNo}) rp
	</select>
	
	<select id="selectIncomeList" resultMap="accountsResultSet" parameterType="_int">
		select epno as no, pay_date, user_name, amount,'숙소' as section 
		  from exppay join member using (usno) where usno=#{usNo}
		 union
		select rpno as no, pay_date, user_name, amount, '체험' as section
		  from roomspay join member using (usno) where usno=#{usNo}
	</select>


	









</mapper>
