<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="boardMapper">


	<resultMap type="Board" id="boardFaqResultSet">
		<id column="FAQNO" property="faqNo"/>
		<result column="FAQ_CATEGORY" property="faqCategory"/>
		<result column="FAQ_TITLE" property="faqTitle"/>
		<result column="FAQ_CONTENT" property="faqContent"/>
		<result column="FAQ_CREATE_DATE" property="faqCreateDate"/>
	</resultMap>


	<!-- 현영  -->
	<select id="aSelectFaqListCount" resultType="_int">
		select count(*)
		  from faq
	</select>
	<!-- 현영  -->
	<select id="aSelectFaqList" resultMap="boardFaqResultSet">
		select *
		  from faq
		 order by FAQNO desc
	</select>

	<!-- 진아 : 모든 faqCategory 조회 -->
	<select id="selectFaqCategory" resultType="string">
		select distinct faq_category
		  from faq
		  order by faq_category
	</select>
	
	<!-- 현영  -->
	<insert id="insertFaq" parameterType="Board">
		insert into faq
		values(faqno.nextval, #{faqCategory}, #{faqTitle}, #{faqContent}, sysdate)
	</insert>

	<!-- 진아  : faqCategory별 모든 제목 조회 -->
	<select id="selectFaqTitle" parameterType="Board" resultType="string">
		select faq_title
		from    (
		        select *
		          from faq
		         where faq_category = #{faqCategory}
		        )	
	</select>
	
	<!-- 진아  : faqCategory별 제목과 내용 조회 -->
	<select id="selectFaqContent" parameterType="Board" resultType="Board">
		select *
		  from faq
		 where faq_category=#{faqCategory}; 	
	</select>
	
	<!-- 현영  -->
	<select id="selectFaq" parameterType="_int" resultMap="boardFaqResultSet">
		select *
		  from faq
		 where faqno= #{fno}
	</select>

</mapper>
