<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="boardMapper">


	<resultMap type="Board" id="boardFaqResultSet">
		<id column="FAQNO" property="faqNo"/>
		<result column="FAQ_CATEGORY" property="faqCategory"/>
		<result column="FAQ_TITLE" property="faqTitle"/>
		<result column="FAQ_CONTENT" property="faqContent"/>
		<result column="FAQ_CREATE_DATE" property="faqCreateDate"/>
	</resultMap>
	
	<resultMap type="Board" id="boardNoticeResultSet">
		<id column="NONO" property="noNo"/>
		<result column="NOTICE_TITLE" property="noticeTitle"/>
		<result column="NOTICE_CONTENT" property="noticeContent"/>
		<result column="NOTICE_DATE" property="noticeDate"/>
		<result column="COUNT" property="count"/>
		<result column="STATUS" property="status"/>
	</resultMap>
	
	<resultMap type="Board" id="boardInquiryResultSet">
		<id column="INNO" property="inNo"/>
		<result column="RONO" property="roNo"/>
		<result column="RENO" property="reNo"/>
		<result column="RPNO" property="rpNo"/>
		<result column="USNO" property="userNo"/>
		<result column="CATEGORY" property="inqCategory"/>
		<result column="INQUERY_TITLE" property="inqTitle"/>
		<result column="INQUERY_CONTENT" property="inqContent"/>
		<result column="INQUERY_DATE" property="inqDate"/>
		<result column="RE_TITLE" property="inqReTitle"/>
		<result column="RE_CONTENT" property="inqReContent"/>
		<result column="RE_STATUS" property="inqReStatus"/>
		<result column="STATUS" property="inqStatus"/>
		<result column="ROOMS_TITLE" property="roomsTitle"/>
		<result column="EMAIL" property="email"/>
	</resultMap>




	<!-- 진아  : faqCategory별 모든 제목 조회 -->
	<select id="selectFaqList" parameterType="string" resultMap="boardFaqResultSet">
		select *
		  from faq
		  where faq_category = #{faqCategory}	
	</select>
	
	
	<!-- 현영  -->
	<!-- FAQ -->
	<select id="aSelectFaqListCount" resultType="_int">
		select count(*)
		  from faq
	</select>
	
	<select id="aSelectFaqList" resultMap="boardFaqResultSet">
		select *
		  from faq
		 order by FAQNO desc
	</select>
	
	<insert id="insertFaq" parameterType="Board">
		insert into faq
		values(faqno.nextval, #{faqCategory}, #{faqTitle}, #{faqContent}, sysdate)
	</insert>

	
	
	<select id="selectFaq" parameterType="_int" resultMap="boardFaqResultSet">
		select *
		  from faq
		 where faqno= #{fno}
	</select>
	
	<update id="faqUpdate" parameterType="Board">
	
		update faq
		   set faq_category=#{faqCategory},
		       faq_title=#{faqTitle},
		       faq_content=#{faqContent}
		 where faqno=#{faqNo}
	
	</update>
	<delete id="faqDelete" parameterType="_int">
	
		delete 
		  from faq
		 where where faqno=#{fno}
	
	</delete>
	
	
	<!-- 공지사항 -->
	<select id="aSelectNoticeListCount" resultType="_int">
		select count(*)
		  from notice
		 where status='Y'
	</select>
	
	<select id="aSelectNoticeList" resultMap="boardNoticeResultSet">
		select *
		  from notice
		 where status='Y'
		 order by NONO desc
	</select>
	
	<insert id="insertNotice" parameterType="Board">
		insert into notice
		values(nono.nextval, #{noticeTitle}, #{noticeContent}, sysdate, default, default)
	</insert>
	
	<update id="noticeIncreaseCount" parameterType="_int">
		update notice
		   set count = count + 1
		 where nono = #{nno} and status = 'Y'
	</update>
	
	<select id="selectNotice" parameterType="_int" resultMap="boardNoticeResultSet">
		select *
		  from notice
		 where nono= #{nno} and status='Y'
	</select>
	
	<update id="noticeUpdate" parameterType="Board">
	
		update notice
		   set NOTICE_TITLE=#{noticeTitle},
		       NOTICE_CONTENT=#{noticeContent}
		 where nono=#{noNo}
	
	</update>
	
	<!-- 1:1문의 -->
	
	<select id="aSelectInquiryListCount" resultType="_int">
		select count(*)
		  from INQUERY
         where category != 5
	</select>
	
	<select id="aSelectInquiryList" resultMap="boardInquiryResultSet">
        select *
		  from INQUERY
         where category != 5
		 order by inNO desc
	</select>
	
	<select id="selectInquiry" parameterType="_int" resultMap="boardInquiryResultSet">
		SELECT I.INNO, I.INQUERY_TITLE, I.CATEGORY, R.ROOMS_TITLE, M.EMAIL, I.INQUERY_CONTENT, I.RE_CONTENT
		  FROM INQUERY I
		  JOIN ROOMS R ON R.RONO = I.RONO
		  JOIN MEMBER M ON M.USNO = I.USNO
		 WHERE INNO = #{ino}
	</select>
	
	<!-- 현영  -->	
	
	
	
	
	
	
	<!-- 하정 -->
	<select id="pSelectNoticeListCount" resultType="_int">
		select count(*)
		  from notice
		 where status='Y'
	</select>
	
	<select id="pSelectNoticeList" resultMap="boardNoticeResultSet">
		select *
		  from notice
		 where status='Y'
		 order by nono desc
	</select>
	
	<select id="pSelectNoticeDetail" parameterType="_int" resultMap="boardNoticeResultSet">
		select *
		  from (select nono, notice_title, notice_content, notice_date,
       			lag(nono, 1, 0) over(order by nono) as prevNoNo, 
       			lag(notice_title, 1, '이전글이 없습니다') over(order by nono) as prevTitle, 
       			lead(nono, 1, 0) over(order by nono) as nextNoNo, 
       			lead(notice_title, 1, '다음글이 없습니다') over(order by nono) as nextTitle
				from notice order by nono)
		 where nono= #{noNo}
	</select>
	
	<update id="pNoticeIncreaseCount" parameterType="_int">
		update notice
		   set count = count + 1
		 where nono = #{noNo} and status = 'Y'
	</update>
	
	<!-- /하정 -->
	
	
	

</mapper>
