<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="boardMapper">


	<resultMap type="Board" id="boardFaqResultSet">
		<id column="FAQNO" property="faqNo"/>
		<result column="FAQ_CATEGORY" property="faqCategory"/>
		<result column="FAQ_TITLE" property="faqTitle"/>
		<result column="FAQ_CONTENT" property="faqContent"/>
		<result column="FAQ_CREATE_DATE" property="faqCreateDate"/>
	</resultMap>
	
	<resultMap type="Board" id="boardNoticeResultSet">
		<id column="NONO" property="noNo"/>
		<result column="NOTICE_TITLE" property="noticeTitle"/>
		<result column="NOTICE_CONTENT" property="noticeContent"/>
		<result column="NOTICE_DATE" property="noticeDate"/>
		<result column="COUNT" property="count"/>
		<result column="STATUS" property="status"/>
	</resultMap>


	<!-- 현영  -->
	<select id="aSelectFaqListCount" resultType="_int">
		select count(*)
		  from faq
	</select>
	<!-- 현영  -->
	<select id="aSelectFaqList" resultMap="boardFaqResultSet">
		select *
		  from faq
		 order by FAQNO desc
	</select>

	<!-- 진아  : faqCategory별 모든 제목 조회 -->
	<select id="selectFaqList" parameterType="string" resultMap="boardFaqResultSet">
		select *
		  from faq
		  where faq_category = #{faqCategory}	
	</select>
	
	<!-- 현영  -->
	<insert id="insertFaq" parameterType="Board">
		insert into faq
		values(faqno.nextval, #{faqCategory}, #{faqTitle}, #{faqContent}, sysdate)
	</insert>

	
	
	<!-- 현영  -->
	<select id="selectFaq" parameterType="_int" resultMap="boardFaqResultSet">
		select *
		  from faq
		 where faqno= #{fno}
	</select>
	
	<!-- 현영  -->
	<update id="faqUpdate" parameterType="Board">
	
		update faq
		   set faq_category=#{faqCategory},
		       faq_title=#{faqTitle},
		       faq_content=#{faqContent}
		 where faqno=#{faqNo}
	
	</update>
	<!-- 현영  -->
	<delete id="faqDelete" parameterType="_int">
	
		delete 
		  from faq
		 where where faqno=#{fno}
	
	</delete>
	
	
	<!-- 공지사항 -->
	<!-- 현영 -->
	<select id="aSelectNoticeListCount" resultType="_int">
		select count(*)
		  from notice
		 where status='Y'
	</select>
	
	<!-- 현영  -->
	<select id="aSelectNoticeList" resultMap="boardNoticeResultSet">
		select *
		  from notice
		 where status='Y'
		 order by NONO desc
	</select>
	
	<!-- 현영  -->
	<insert id="insertNotice" parameterType="Board">
		insert into notice
		values(nono.nextval, #{noticeTitle}, #{noticeContent}, sysdate, default, default)
	</insert>
	
	<!-- 현영  -->
	<update id="noticeIncreaseCount" parameterType="_int">
		update notice
		   set count = count + 1
		 where nono = #{nno} and status = 'Y'
	</update>
	
	<!-- 현영  -->
	<select id="selectNotice" parameterType="_int" resultMap="boardNoticeResultSet">
		select *
		  from notice
		 where nono= #{nno} and status='Y'
	</select>
	
	<!-- 현영  -->
	<update id="noticeUpdate" parameterType="Board">
	
		update notice
		   set NOTICE_TITLE=#{noticeTitle},
		       NOTICE_CONTENT=#{noticeContent}
		 where nono=#{noNo}
	
	</update>
	
	
	
	
	
	
	
	<!-- 하정 -->
	<select id="pSelectNoticeListCount" resultType="_int">
		select count(*)
		  from notice
		 where status='Y'
	</select>
	
	<select id="pSelectNoticeList" resultMap="boardNoticeResultSet">
		select *
		  from notice
		 where status='Y'
		 order by nono desc
	</select>
	
	<select id="pSelectNoticeDetail" parameterType="_int" resultMap="boardNoticeResultSet">
		select *
		  from (select nono, notice_title, notice_content, notice_date,
       			lag(nono, 1, 0) over(order by nono) as prevNoNo, 
       			lag(notice_title, 1, '이전글이 없습니다') over(order by nono) as prevTitle, 
       			lead(nono, 1, 0) over(order by nono) as nextNoNo, 
       			lead(notice_title, 1, '다음글이 없습니다') over(order by nono) as nextTitle
				from notice order by nono)
		 where nono= #{noNo}
	</select>
	
	<update id="pNoticeIncreaseCount" parameterType="_int">
		update notice
		   set count = count + 1
		 where nono = #{noNo} and status = 'Y'
	</update>
	
	<!-- /하정 -->
	
	
	

</mapper>
