<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="chatMapper">

	<resultMap id="roomResultMap" type="ChatRoom">
		<id column="CHNO" property="chNo"/>
		<result column="USER_EMAIL" property="userEmail"/>
		<result column="TUTOR_EMAIL" property="tutorEmail"/>
		<result column="CLASS_ID" property="class_class_id"/>
	</resultMap>
	
	<resultMap id="chatListMap" type="ChatRoom">
		<id column="CHNO" property="chNo"/>
		<result column="USER_EMAIL" property="userEmail"/>
		<result column="TUTOR_EMAIL" property="tutorEmail"/>
		<result column="CLASS_ID" property="class_class_id"/>
		<result column="MESSAGE_CONTENT" property="recentMessage"/>
		<result column="MESSAGE_READTIME" property="recentTime"/>
	</resultMap>
	
	<resultMap id="chatpListMap" type="ChatRoom">
		<id column="PCHNO" property="chNo"/>
		<result column="USER_EMAIL" property="userEmail"/>
		<result column="TUTOR_EMAIL" property="tutorEmail"/>
		<result column="CLASS_ID" property="class_class_id"/>
		<result column="MESSAGE_CONTENT" property="recentMessage"/>
		<result column="MESSAGE_READTIME" property="recentTime"/>
	</resultMap>
	
	<resultMap id="messageListMap" type="Message">
		<id column="MSGNO" property="msgNo"/>
		<result column="CHNO" property="chNo"/>
		<result column="MESSAGE_SENDER" property="messageSender"/>
		<result column="MESSAGE_RECEIVER" property="messageReceiver"/>
		<result column="MESSAGE_CONTENT" property="messageContent"/>
		<result column="MESSAGE_SENDTIME" property="messageSendTime"/>
		<result column="MESSAGE_READTIME" property="messageReadTime"/>
		<result column="CLASS_ID" property="class_class_id"/>
	</resultMap>
	
	<!--   -->
	
	<insert id = "createRoom" parameterType="ChatRoom">
		insert into CHATROOM
		values(chno.nextval, #{userEmail}, #{tutorEmail}, classid.nextval)
	</insert>

	<select id ="selectChatRoom" resultMap = "roomResultMap" parameterType="ChatRoom">
	select * from CHATROOM WHERE USER_EMAIL = #{userEmail} and TUTOR_EMAIL = #{tutorEmail} 
	</select>

	<insert id = "insertMessage" parameterType="Message">
		insert into MESSAGE
		values(msgno.nextval, #{chNo}, #{messageSender}, #{messageReceiver}, #{messageContent}, #{messageSendTime}, SYSDATE, #{class_class_id})
	</insert>
	
	<select id ="aSelectMessagesList" resultMap="chatListMap">
            SELECT CHNO, USER_EMAIL, TUTOR_EMAIL, CLASS_ID, MESSAGE_CONTENT, MESSAGE_READTIME
            FROM (select CHNO, USER_EMAIL, TUTOR_EMAIL, C.CLASS_ID, MESSAGE_CONTENT, MESSAGE_READTIME,RANK() OVER (PARTITION BY CHNO ORDER BY MESSAGE_READTIME DESC) AS RECENT_ME
                    from CHATROOM C
                    left join MESSAGE M USING(CHNO))
            WHERE RECENT_ME = 1
	</select>
	
	<select id="selectMessage" resultMap="messageListMap" parameterType="_int">
		select *
		  from message
		 where chno = #{chNo}
		 order by message_readtime
 	</select>
 	
 	<select id ="pSelectMessagesList" resultMap="chatpListMap">
 		    SELECT PCHNO, USER_EMAIL, TUTOR_EMAIL, CLASS_ID, MESSAGE_CONTENT, MESSAGE_READTIME
            FROM (select PCHNO, USER_EMAIL, TUTOR_EMAIL, C.CLASS_ID, MESSAGE_CONTENT, MESSAGE_READTIME,RANK() OVER (PARTITION BY PCHNO ORDER BY MESSAGE_READTIME DESC) AS RECENT_ME
                    from PCHATROOM C
                    left join PMESSAGE M USING(PCHNO))
            WHERE RECENT_ME = 1
 	</select>
 	
 	<select id="selectpMessage" resultMap="messageListMap" parameterType="_int">
		select *
		  from pmessage
		 where pchno = #{chNo}
		 order by message_readtime
 	</select>
 	
 	<select id="selectRoomChat" resultMap="chatpListMap" parameterType="ChatRoom">
 		select *
 		  from pchatroom
 		 where user_email = #{userEmail} and rono = #{class_class_id}
 	</select>
 	
 	<select id="selectpChatRoom" resultMap="chatpListMap">
 		select * from PCHATROOM WHERE USER_EMAIL = #{userEmail} and TUTOR_EMAIL = #{tutorEmail} 
 	</select>
 	
 	<insert id = "insertpMessage" parameterType="Message">
		insert into PMESSAGE
		values(pmsgno.nextval, #{chNo}, #{messageSender}, #{messageReceiver}, #{messageContent}, #{messageSendTime}, SYSDATE, #{class_class_id})
	</insert>
</mapper>