<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="expMapper">

	<resultMap type="Experience" id="ExperienceResultSet">
		<id column="exno" property="exNo"/>
		<result column="usno" property="usNo"/>
		<result column="language" property="language"/>
		<result column="exp_category" property="expCategory"/>
		<result column="exp_tag" property="expTag"/>
		<result column="exp_title" property="expTitle"/>
		<result column="exp_content" property="expContent"/>
		<result column="activity" property="activity"/>
		<result column="max_people" property="maxPeople"/>
		<result column="exp_date" property="expDate"/>
		<result column="start_time" property="startTime"/>
		<result column="end_time" property="endTime"/>
		<result column="use_time" property="useTime"/>
		<result column="interval_time" property="intervalTime"/>
		<result column="supplies" property="supplies"/>
		<result column="deadline" property="deadline"/>
		<result column="price" property="price"/>
		<result column="add_basic" property="addBasic"/>
		<result column="add_detail" property="addDetail"/>
		<result column="add_ref" property="addRef"/>
		<result column="zip_code" property="zipCode"/>
		<result column="apply_date" property="applyDate"/>
		<result column="start_date" property="startDate"/>
		<result column="end_date" property="endDate"/>
		<result column="operate_day" property="operateDay"/>
		<result column="status" property="status"/>
		<result column="deny" property="deny"/>
		<result column="deny_content" property="denyContent"/>
		<result column="origin_name" property="originName"/>
		<result column="change_name" property="changeName"/>
		<result column="file_path" property="filePath"/>

		<result column="epno" property="epNo"/>
		<result column="amount" property="amount"/>
		<result column="pay_date" property="payDate"/>
		<result column="exp_date" property="expDate"/>
		<result column="people" property="people"/>
		
		<result column="change_name_1" property="atChangeName"/>
	</resultMap>
	
	<!-- 사용자의 체험 전체 목록 조회  -->
	<select id="selectExpListCount" resultType="_int">
		select count(*)
		  from experience
		 where usno=#{usNo}
	</select>
	
	<!-- 패당 페이지에 보여줄 사용자의  체험 목록 조회 -->
	<select id="selectExpList" resultMap="ExperienceResultSet" parameterType="_int">
		select e.status, e.exp_Title, 
		       e.start_date, e.apply_date, e.usno, e.exno, e.add_basic, 
       		   count(p.exno) as totalSal
          from experience e
          left join expPay p on(e.exno=p.exno) 
  		 group by e.status, e.exp_Title, e.start_date, e.apply_date, 
  		 	   e.add_basic, e.usno, e.exno
		having e.usno= #{usNo}
		 order by status asc, totalSal desc
	</select>
	
	<!-- 체험 등록 -->
	<insert id="insertExp" parameterType="Experience">
		insert into experience
		values(exno.nextval, #{usNo}, #{language}, #{expCategory}, #{expTag}, #{expTitle},
			  #{activity}, #{maxPeople}, null, #{startTime}, #{endTime}, #{useTime}, #{intervalTime}, 
			  #{supplies}, #{deadline}, #{price}, #{addBasic}, #{addDetail}, #{addRef}, #{zipCode}, 
			  sysdate, null, null, null, 2, null, null, #{originName}, #{changeName}, #{filePath}, #{expContent})
	</insert>
	
	<!-- 체험 상세사진 등록 -->
	<insert id="insertAttachment" parameterType="Attachment">
		insert into attachment
		values(fino.nextval, #{originName}, #{changeName}, #{filePath}, sysdate, 'Y', 2, null, exno.currval)
	</insert>
	
	<!-- 체험 상세조회 -->
	<select id="selectExp" resultMap="ExperienceResultSet" parameterType="_int">
		select * 
		  from experience 
		  join attachment using (exno)
		 where exno=#{exNo}
	</select>

	<!-- 체험 수정폼 요청 -->
	
	
	
	
	
	<!-- 거절사유가 있는 체험 수정폼 요청 -->
	
	
	
	
	<!-- 체험 휴면 -->
	
	
	
	
	
	
	<!-- 체험 삭제 -->







	
	
	
	
	
	
	
	
	
	
	
	

	<!-- 체험관리 시작 -->
	
	<select id="selectListExpWaitCount" resultType="_int">
		select count(*)
		  from EXPERIENCE
		 where status = 2
	</select>
	
	<select id="selectExpWaitList" resultMap="ExperienceResultSet">
		select *
		  from EXPERIENCE
		 where status = 2
	</select>
	
	<select id="selectListExpOkayCount" resultType="_int">
		select count(*)
		  from EXPERIENCE
		 where status = 1
	</select>
	
	<select id="selectExpOkayList" resultMap="ExperienceResultSet">
		select *
		  from EXPERIENCE
		 where status = 1
	</select>
	
	
	<!-- 체험관리 끝 -->



</mapper>
