<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="roomMapper">
	<resultMap type="Room" id="roomResultSet">
		<id column="RONO" property="roNo"/>
		<result column="USNO" property="userNo"/>
		<result column="ROOMS_TITLE" property="roomsTitle"/>
		<result column="MIN_PEOPLE" property="minPeople"/>
		<result column="MAX_PEOPLE" property="maxPeople"/>
		<result column="PRICE" property="price"/>
		<result column="ADD_PRICE" property="addPrice"/>
		<result column="ROOMS_NOTICE" property="roomsNotice"/>
		<result column="ROOMS_TAG" property="roomsTag"/>
		<result column="ROOM_COUNT" property="roomCount"/>
		<result column="BED_COUNT" property="bedCount"/>
		<result column="BATH_COUNT" property="bathCount"/>
		<result column="RESTROOM_COUNT" property="restroomCount"/>
		<result column="FACILITY" property="facility"/>
		<result column="SERVICE" property="service"/>
		<result column="MEAL" property="meal"/>
		<result column="DENY" property="deny"/>
		<result column="DENY_CONTENT" property="denyContent"/>
		<result column="ADD_BASIC" property="addBasic"/>
		<result column="ADD_DETAIL" property="addDetail"/>
		<result column="ADD_REF" property="addRef"/>
		<result column="ZIP_CODE" property="zipCode"/>
		<result column="APPLY_DATE" property="applyDate"/>
		<result column="START_DATE" property="startDate"/>
		<result column="END_DATE" property="endDate"/>
		<result column="OPERATE_DAY" property="operateDay"/>
		<result column="PONO" property="poNo"/>
		<result column="POWER_START" property="powerStart"/>
		<result column="POWER_END" property="powerEnd"/>
		<result column="STATUS" property="status"/>
		<result column="CHECK_IN" property="checkIn"/>
		<result column="CHECK_OUT" property="checkOut"/>
		<result column="DEADLINE" property="deadline"/>
		<result column="ORIGIN_NAME" property="originName"/>
		<result column="CHANGE_NAME" property="changeName"/>
		<result column="FILE_PATH" property="filePath"/>
		<result column="RPNO" property="rpNo"/>
		<result column="POWER_KIND" property="powerKind"/>
	</resultMap>
	
	
	<resultMap type="Room" id="powerResultSet">
		<id column="PONO" property="poNo"/>
		<result column="POWER_KIND" property="powerKind"/>
		<result column="PERIOD" property="period"/>
		<result column="PRICE" property="powerPrice"/>
		
		<result column="ROOMS_TITLE" property="roomsTitle"/>
		<result column="EMAIL" property="email"/>
		<result column="POWER_START" property="powerStart"/>
		<result column="POWER_END" property="powerEnd"/>
		<result column="PONO" property="poNo1"/>
	</resultMap>
	
	<!-- Rooms테이블 + Roomspay테이블 아직 미완성 : Roomspay 필드 추가할 것 -->
	<resultMap type="Room" id="roomAndRoomspayResultSet">
		<id column="RONO" property="roNo"/>
		<result column="USNO" property="userNo"/>
		<result column="ROOMS_TITLE" property="roomsTitle"/>
		<result column="MIN_PEOPLE" property="minPeople"/>
		<result column="MAX_PEOPLE" property="maxPeople"/>
		<result column="PRICE" property="price"/>
		<result column="ADD_PRICE" property="addPrice"/>
		<result column="ROOMS_NOTICE" property="roomsNotice"/>
		<result column="ROOMS_TAG" property="roomsTag"/>
		<result column="ROOM_COUNT" property="roomCount"/>
		<result column="BED_COUNT" property="bedCount"/>
		<result column="BATH_COUNT" property="bathCount"/>
		<result column="RESTROOM_COUNT" property="restroomCount"/>
		<result column="FACILITY" property="facility"/>
		<result column="SERVICE" property="service"/>
		<result column="MEAL" property="meal"/>
		<result column="DENY" property="deny"/>
		<result column="DENY_CONTENT" property="denyContent"/>
		<result column="ADD_BASIC" property="addBasic"/>
		<result column="ADD_DETAIL" property="addDetail"/>
		<result column="ADD_REF" property="addRef"/>
		<result column="ZIP_CODE" property="zipCode"/>
		<result column="APPLY_DATE" property="applyDate"/>
		<result column="START_DATE" property="startDate"/>
		<result column="END_DATE" property="endDate"/>
		<result column="OPERATE_DAY" property="operateDay"/>
		<result column="PONO" property="poNo"/>
		<result column="POWER_START" property="powerStart"/>
		<result column="POWER_END" property="powerEnd"/>
		<result column="STATUS" property="status"/>
		<result column="CHECK_IN" property="checkIn"/>
		<result column="CHECK_OUT" property="checkOut"/>
		<result column="DEADLINE" property="deadline"/>
		<result column="ORIGIN_NAME" property="originName"/>
		<result column="CHANGE_NAME" property="changeName"/>
		<result column="FILE_PATH" property="filePath"/>
		<result column="ROOMS_NOTICE" property="roomsNotice"/>
		
		
		
		<result column="AMOUNT" property="amount"/>
		<result column="BIRTHDATE" property="birthday"/>
		<result column="PAY_DATE" property="payDate"/>
		<result column="ADD_POINT" property="addPoint"/>
		
		<result column="RESERVE_STATUS" property="reserveStatus"/>
		<result column="USE_POINT" property="usePoint"/>
		<result column="PEOPLE" property="people"/>
		<result column="CONCEPT" property="concept"/>
		<result column="REQUEST" property="request"/>
		<result column="START_DAYS" property="startDays"/>
		<result column="END_DAYS" property="endDays"/>
	</resultMap>
	
	<select id="selectListCount" resultType="_int" parameterType="_int">
		select count(*)
		  from rooms
		 where usno = #{userNo}
	</select>
	
	<select id="selectRoomsList" resultMap="roomResultSet" parameterType="_int">
		select *
	      from rooms 
	     where usno = #{userNo}
	</select>
	
	<select id="selectRoom" resultMap="roomResultSet" parameterType="_int">
		select *
		  from rooms
		 where rono = #{roNo}
	</select>
	
	<!-- 숙소등록 -->
	<insert id="insertRoom" parameterType="Room">
		insert into rooms
		values(rono.nextval, #{userNo}, #{roomsTitle}, #{minPeople}, #{maxPeople}, #{price}, 10000, #{roomsTag}, 
				#{roomCount}, #{bedCount}, #{bathCount}, #{restroomCount}, #{facility}, #{service}, 
				#{meal}, null, null, #{addBasic}, #{addDetail},
			   #{addRef}, #{zipCode}, sysdate, null, null, null, null, null, null, 2, #{checkIn}, #{checkOut}, #{deadline},
			   #{originName}, #{changeName}, #{filePath}, #{roomsNotice})
	</insert>
	
	<!-- 숙소rono -->
	<select id="selectRono" resultType="_int">	
		select rono
	      from rooms
	     where rownum = 1
	     order by rono desc
	</select>
	
	<!-- 숙소등록 상세이미지  -->
	<insert id="insertAttachment" parameterType="Attachment">
		insert into attachment
		values(fino.nextval, #{originName}, #{changeName}, #{filePath}, sysdate, 'Y', 1, rono.currval, null)
	</insert>
	
	
	<!-- 파워관리 시작-->
	<select id="selectPowerList" resultMap="powerResultSet">
		select *
	      from power
	</select>
	
		
	<insert id="insertPower" parameterType="Room">
		insert into power
		values(pono.nextval, #{powerKind}, #{period}, #{powerPrice})
		 order by price asc
	</insert>
	
	<update id="updatePower" parameterType="Room">
	
		update power
		   set POWER_KIND=#{powerKind},
		       PERIOD=#{period},
		       PRICE=#{powerPrice}
		 where pono=#{poNo}
	
	</update>
	
	<select id="selectPower" parameterType="_int" resultMap="powerResultSet">
		select *
		  from power
		 where pono= #{pno}
	      
	</select>
	
	<select id="aSelectPowerListCount" resultType="_int">
		select count(*)
		  from POWER P
		  JOIN ROOMS R ON r.pono = p.pono
		  JOIN MEMBER M ON r.usno = m.usno
		 WHERE R.PONO > 0
	</select>
	
	<select id="selectPowerRoomList" resultMap="powerResultSet">
	
		select P.PONO, P.POWER_KIND, R.ROOMS_TITLE, M.EMAIL, P.PERIOD, R.POWER_START, R.POWER_END, R.PONO
		  FROM POWER P
		  JOIN ROOMS R ON r.pono = p.pono
		  JOIN MEMBER M ON r.usno = m.usno
		 WHERE R.PONO > 0
		
	
	</select>
	<!-- 파워관리 시작-->
	
	
	<!-- 숙소관리 시작-->
	
	<select id="selectListRoomsWaitCount" resultType="_int">
		select count(*)
		  from rooms
		 where status = 2
	</select>
	
	<select id="selectRoomsWaitList" resultMap="roomResultSet">
		select *
		  from rooms
		 where status = 2
	</select>
	
	<select id="selectListRoomsOkayCount" resultType="_int">
		select count(*)
		  from rooms
		 where status = 1
	</select>
	
	<select id="selectRoomsOkayList" resultMap="roomResultSet">
		select *
		  from rooms
		 where status = 1
	</select>
	
	
	
	<!-- 숙소관리 끝-->

	<!-- 숙소검색 시작 // 미완성 -->
	<select id="selectRoomSearch" parameterType="Room" resultMap="roomAndRoomspayResultSet">
		SELECT *
		FROM ROOMS
		WHERE RONO NOT IN (
		                    SELECT R.RONO
		                    FROM ROOMS R
		                    JOIN ROOMSPAY P ON(R.RONO = P.RONO)
		                    WHERE ((#{startDays} BETWEEN P.START_DAYS AND P.END_DAYS)
		                        or (#{endDays} BETWEEN P.START_DAYS AND P.END_DAYS))
				)
		        AND (#{people} BETWEEN MIN_PEOPLE AND MAX_PEOPLE)
		        AND (ADD_BASIC LIKE '%' || #{addBasic} || '%' OR ADD_REF LIKE '%' || #{addBasic} || '%')
	</select>

	<!-- 숙소검색 끝 -->

























</mapper>
